{
  "plugins": ["transform-runtime"],
  "presets" : ["es2015", "stage-0", "react"],
  "env" : {
      // only enable it when process.env.NODE_ENV is 'development' or undefined
      "development": {
            "plugins": ["react-hot-loader/babel"]
      }
  }
}